<div class="wrapper">
    <div class="title">Gerer les paramettres de base</div>
    <ul class="list-items" >
        <li><a [routerLink]="['type']"><i class="fas fa-home"></i>Types de porc</a></li>
        <li><a [routerLink]="['race']"><i class="fas fa-sliders-h"></i>Races de porc</a></li>
        <li><a [routerLink]="['type']"><i class="fas fa-address-book"></i>Liste de soins</a></li>
        <li><a [routerLink]="['type']"><i class="fas fa-cog"></i>Liste des maladies</a></li>
        <li><a [routerLink]="['type']"><i class="fas fa-stream"></i>Liste des vaccins</a></li>
        <li><a [routerLink]="['type']"><i class="fas fa-user"></i>Gestion du satus</a></li>
        <li><a [routerLink]="['type']"><i class="fas fa-globe-asia"></i>Liste des loges</a></li>
       
    </ul>
</div>