<div>
    <header class="header-container">
        <h3 class="vp-logo">
            <a href="#">Gest-Porc</a>
        </h3>
        <ul class="menu-centre">
            <li><a [routerLink]="['accueil']">Acceuil</a></li>
            <li><a [routerLink]="['doneebase']">Données de bases</a></li>
            <li><a href="">Gestion porc</a></li>
            <li><a href="">Autres</a></li>
            <li><a href="">Autres</a></li>
        </ul>
        <ul class="menu-droite">
            <li><a href="">Administration</a></li>
            <li><a href="">Gestion des utilisateurs</a></li>
            <li><a href="">Profil</a></li>
        </ul>
    </header>
</div>

